.project__container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 200px 120px;
}

.heading-project {
  margin-bottom: 80px;
  color: antiquewhite;
  font-size: 35px;
  font-weight: 400;
  display: flex;
  align-items: center;
}

.project__box {
  border: 1px solid #6c757d;
  border-radius: 10px;
  display: flex;
  flex-direction: column;
  padding: 20px 30px;
  color: antiquewhite;
  width: 50vw;
}

.project__box:not(:last-child) {
  margin-bottom: 120px;
}

.project__img {
  margin-bottom: 30px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.project__img img {
  width: 90%;
}

.project__description {
  color: antiquewhite;
}

.project__info h2 {
  margin-bottom: 14px;
  font-weight: 400;
  font-size: 25px;
}

.project__info p {
  font-weight: 300;
  line-height: 1.6;
  font-size: 14px;
  margin-bottom: 13px;
}

.project--languages__wrapper {
  display: flex;
  align-items: center;
  flex-direction: column;
}

.project__icon-container {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 20px;
}

.project__icon-container img {
  width: 30px;
  cursor: pointer;
}

.project__icon-container img:not(:last-child) {
  margin-right: 10px;
}
.project__tools span:not(:last-child) {
  margin-right: 7px;
}

.project__tools span {
  padding: 5px 7px;
  /* background: #17a2b8; */
  background: #10505a;
  margin-bottom: 13px;
  border-radius: 5px;
  font-weight: 300;
  font-size: 13px;
  cursor: pointer;
  transition: ease-in-out 1s;
}

.project__img img {
  border-radius: 8px;
}

.project__tools span:hover {
  background: #1e525a;
  color: #fff;
}

.project__tools {
  display: flex;
  flex-wrap: wrap;
}

.project__links {
  margin-top: 17px;
}

.project__links a,
.project__links a:visited,
.project__links a:focus {
  display: inline-flex;
  align-items: center;
  font-size: 14px;
  font-weight: 300;
  transition: ease-in-out 0.5s;
  color: #fff;
}

.project__links a:hover {
  color: #17a2b8;
}

.project__links a:not(:last-child) {
  margin-right: 10px;
}

.project-icon {
  margin-right: 3px;
  width: 20px;
  height: 20px;
}

@media screen and (max-width: 680px) {
  .project__container {
    padding: 80px 20px;
  }

  .heading-project {
    margin-bottom: 50px;
    font-size: 25px;
  }

  .project__box {
    padding: 12px 10px;
    color: antiquewhite;
    /* width: 50vw; */
    width: 80vw;
  }

  .project__box:not(:last-child) {
    margin-bottom: 50px;
  }

  .project__img {
    margin-bottom: 20px;
  }

  .project__img img {
    width: 93%;
  }

  .project__info h2 {
    font-size: 20px;
  }

  .project__info p {
    font-size: 12px;
    margin-bottom: 15px;
  }

  .project__icon-container img {
    width: 25px;
    cursor: pointer;
  }

  .project__icon-container img:not(:last-child) {
    margin-right: 7px;
  }

  .project__tools span:not(:last-child) {
    margin-right: 7px;
  }

  .project__tools span {
    padding: 5px;
    margin-bottom: 7px;
    font-size: 12px;
  }

  .project__links a,
  .project__links a:visited,
  .project__links a:focus {
    font-size: 13px;
  }
}

@media screen and (max-width: 1000px) and (min-width: 681px) {
  .project__container {
    padding: 80px 40px;
  }

  .heading-project {
    margin-bottom: 60px;
    font-size: 28px;
  }

  .project__box {
    padding: 18px 20px;
    width: 65vw;
  }

  .project__box:not(:last-child) {
    margin-bottom: 80px;
  }

  .project__img {
    margin-bottom: 40px;
  }

  .project__img img {
    width: 80%;
  }

  .project__info h2 {
    margin-bottom: 14px;
    font-size: 25px;
  }

  .project__info p {
    font-size: 13px;
    margin-bottom: 15px;
  }

  .project__icon-container img {
    width: 27px;
  }

  .project__icon-container img:not(:last-child) {
    margin-right: 8px;
  }

  .project__tools span:not(:last-child) {
    margin-right: 6px;
  }

  .project__tools span {
    margin-bottom: 13px;
  }

  .project__links {
    margin-top: 15px;
  }

  .project__links a,
  .project__links a:visited,
  .project__links a:focus {
    font-size: 14px;
  }

  .project__links a:not(:last-child) {
    margin-right: 10px;
  }
}
