.social__wrapper {
  margin-top: 120px;
  color: antiquewhite;
}

.social__wrapper h2 {
  font-size: 35px;
  font-weight: 400;
}

.social__container {
  display: flex;
  flex-direction: column;
  margin-top: 20px;
}

.social__container p {
  font-size: 15px;
  font-weight: 400;
  margin-bottom: 20px;
}

.social-media {
  display: flex;
}

.social-media__links {
  display: inline-flex;
  align-items: center;
}

.social-media__links:not(:last-child) {
  margin-right: 20px;
}

.social-media__links img,
.social-media__links svg {
  width: 30px;
}

@media screen and (max-width: 680px) {
  .social__wrapper {
    margin-top: 60px;
  }

  .social__wrapper h2 {
    font-size: 25px;
  }

  .social__container {
    margin-top: 20px;
  }

  .social__container p {
    font-size: 13px;
    margin-bottom: 20px;
  }

  .social-media__links:not(:last-child) {
    margin-right: 10px;
  }

  .social-media__links img,
  .social-media__links svg {
    width: 24px;
  }
}
